@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

:root {
  --swiper-navigation-size: 15px;
}

.swiper-button-prev,
.swiper-button-next {
  background-color: #0064f991;
  border-radius: 50%;
  padding-top: 4.5px;
  height: 30px;
  width: 30px;
  color: rgba(221, 221, 221, 0.773);
  text-align: center;
  font-weight: bolder;
}
.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 0;
}


.hide-number-input-buttons::-webkit-inner-spin-button,
  .hide-number-input-buttons::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .loader {
    width: 24px;
    height: 24px;
    border: 4px solid #FFF;
    border-bottom-color: transparent;  
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotation 1.5s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 